html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Barlow', sans-serif;
}

h1,
h2 {
    font-family: 'Fraunces', sans-serif;
}

.section {
    max-width: 1680px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transition: 0.3s;
}

.background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo {
    width: 15vw;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 96vh;
}

.main .main-background {
    top: -40px;
}

.main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu li a {
    transition: 0.3s;
    padding: 20px;
    font-size: 1.2rem;
    color: var(--light-color);
}

.menu li a:hover {
    letter-spacing: 1.5px;
    color: hsl(167, 40%, 24%);
}

.menu li:last-of-type a {
    background-color: var(--light-color);
    color: var(--dark-color);
    text-transform: uppercase;
    font-family: 'Fraunces', sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    border-radius: 100px;
    padding: 20px 40px;
}

.menu li:last-of-type a:hover {
    color: var(--light-color);
    background-color: rgba(255, 255, 255, 0.286);
}

.main header .hamburguer-div {
    display: none;
    padding: 20px;
    cursor: pointer;
}

.main header .hamburguer {
    cursor: pointer;
    border: none;
    background-color: var(--light-color);
    position: relative;
    height: 4px;
    width: 40px;
}

.main header .hamburguer::before,
.main header .hamburguer::after {
    content: '';
    position: absolute;
    background-color: var(--light-color);
    top: -10px;
    left: 0;
    height: 4px;
    width: 100%;
}

.main header .hamburguer::after {
    top: 10px;
}

.main h1 {
    color: var(--light-color);
    text-transform: uppercase;
    font-weight: 900;
    align-self: center;
    margin-top: 5rem;
    font-size: 4vw;
    letter-spacing: 10px;
}

.main .arrow {
    position: absolute;
    transform: scale(1.2);
    left: 50%;
    top: 45%;
    animation: upAndDown 1s ease-in-out infinite alternate;
}

@keyframes upAndDown {
    100% {
        transform: translateY(60px);
        opacity: 0.8;
    }
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 230vh;
}

.about-image {
    animation: appear 1s;
    animation-timeline: scroll();
    animation-range: cover 0% cover 40%;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 0 100px;
    animation: appear 1s;
    animation-timeline: scroll();
    animation-range: cover 0% cover 30%;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
}

.about-item h2 {
    font-size: 4vw;
    font-weight: 900;
}

.about-item p {
    color: hsl(232, 10%, 55%);
    font-size: 1.5vw;
}

.about-item a {
    position: relative;
    color: var(--dark-color);
    font-family: 'Fraunces';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.3vw;
    padding-inline: 10px;
}

.about-item a::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 4px;
    width: 170px;
    border-radius: 10px;
    height: 8px;
    background-color: hsla(7, 99%, 70%, 0.549);
}

.about-item:first-of-type a::before {
    background-color: hsla(51, 100%, 49%, 0.57);
}

.about-item.center {
    padding: 0;
    align-items: center;
    text-align: center;
}

.about-item.center h2 {
    color: hsl(167, 40%, 24%);
    font-size: 2rem;
    margin-top: 50%;

}

.about-item.center p {
    color: hsl(167, 40%, 24%);
    font-size: 1.2rem;
    width: 50%;
    line-height: 1.6;
}

.about-item.center:last-child h2,
.about-item.center:last-child p {
    color: hsl(198, 62%, 26%);
}

.about-item:has(.background) {
    position: relative;
}

.about-item .background {
    top: 0;
    width: 100%;
    height: 100%;
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px;
    gap: 100px;
}

.testimonials h1{
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(210, 4%, 67%);
}

.testimonials h1 {
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(210, 4%, 67%);
}

.clients-testimonials {
    display: flex;
    gap: 40px;
}

.client-testimonial{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 60px;
}

.client-testimonial img{
    border-radius: 50%;
    max-width: 6rem;
}

.client-testimonial p{
    font-size: 1.4rem;
    line-height: 1.6;
    color: hsl(213, 9%, 39%);
}

.client-testimonial .client-info{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 10px;
}

.client-testimonial .client-info span{
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Fraunces';
}

.client-testimonial .client-info p {
    font-size: 1.2rem;
    color: hsl(210, 4%, 67%);
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 1fr;
    max-width: 100%;
}

.images .image {
    width: 100%;
}

.site-footer {
    background-color: #90D4C5;
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.site-footer .sections {
    display: flex;
    gap: 40px;
}

.site-footer .sections li a {
    color: hsla(167, 40%, 24%, 0.849);
    font-size: 1.3rem;
}

.site-footer .logo:last-of-type {
    filter: invert(70%) sepia(80%) saturate(800%) hue-rotate(130deg) brightness(70%) grayscale(10%);
}

.site-footer .social-links {
    display: flex;
    gap: 40px;
    margin-top: 60px;
}

@media(max-width: 950px) {
    .logo{
        width: 30%;
    }

    .main h1 {
        margin-top: 15rem;
    }

    .main header{
        z-index: 2  ;
        width: 100%;
        background-color: #3DBEFF;
        position: fixed;
    }

    .main header .hamburguer-div {
        display: block;
        position: relative;
        margin-right: -20px;
    }

    .main header nav {
        display: none;
    }

    .menu {
        transition: 0.8s;
        background-color: var(--light-color);
        border-radius: 20px;
        border-top-right-radius: 0;
        flex-direction: column;
        position: absolute;
        overflow: hidden;
        padding: 0;
        height: 0;
        width: 280px;
        align-items: center;
        left: -220px;
        top: 80px;
        gap: 60px;
    }

    .menu.active{
        display: flex;
        animation: appearUpToDown 0.8s;
        padding: 60px 0;
        height: 390px;
    }

    .menu.active li a{
        opacity: 1;
    }

    .menu li a {
        opacity: 0;
        color: var(--dark-color);
        width: 100%;
        padding-inline: 60px;
    }

    .menu li:last-child a {
        background-color: #adadad38;
    }
    
    .menu li:last-of-type a:hover {
        color: var(--dark-color);   
    }
}

@keyframes appearUpToDown{
    0%{
        opacity: 0;
        height: 0;
        padding: 0;
    }

    100%{
        height: 390px;
    }
}
