:root{
    --dark-color: #000000;
    --light-color: hsl(210, 36%, 96%);
    --header-color: #3DBEFF;
    --sub-dark-color: hsl(167, 40%, 24%);

    --sub-text-color: hsl(232, 10%, 55%);
    --primary-accent-color: hsl(7, 99%, 70%);

    --secondary-accent-color: hsl(51, 100%, 49%);
}